@model IEnumerable<MVC.Models.mvcCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Category List</h2>

<p>
    <a href="@Url.Action("AddOrEdit","Category")" class="btn btn-primary"><i class=" fa fa-plus"></i>Add Category</a>
</p>
<table class="table" style= "border: 2px solid ;border-style:solid;border-color:orangered" >
    <tr class="info">
       
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryLimit)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryLimit)
            </td>
            <td>
                <a href="@Url.Action("AddOrEdit", "Category",new {id =item.CategoryId})" class="btn btn-warning btn-xs"> Edit</a>  |
                <a onclick="Delete(@item.CategoryId)" class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
    }

</table>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home</a>
@section scripts{

    <script>
        $(function () {
            var successmsg = '@TempData["SuccesMessage"]'
            if (successmsg != '')
                alertify.success(successmsg);
        });
        function Delete(id) {
            alertify.confirm('Category ', 'Are you Sure to delete ', function () {
                window.location.href='@Url.Action("Delete","Category")/' + id;
            }, null);

        }
  </script>
}
